#myCarousel {
    max-height:900px !important;
  }
.container{
    margin-bottom: 20px;
}

.container h1{
    text-align: center;
    background-color: lightslategray;
    padding: 15px;
    border-radius: 5px;
}

.list-unstyled li a{
    color: white;
    text-decoration: none;
}

.list-unstyled li a:hover{
    color: coral;
    font-weight: 900;
}

.card{
    padding: 10px 20px;
}
.card:hover{
    background-color: white;
    box-shadow: 0px 0px 15px -5px gray;
    cursor: pointer;
}
.card-title{
    color: #413960;
}
.card-text{
    color: #585859, 100%;
}